//transition: transform 1s cubic-bezier(0,1,.82,1);
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    box-sizing: border-box;
    @include media('<=desktop') {
        font-size: 1.2rem;
    }
    @include media('<=phone') {
        font-size: 1rem;
    }
    .left {
        svg {
        }
    }
    .middle {
        margin-left: 50px;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            a {
                cursor: pointer;
                margin: 0 2rem;
                text-decoration: none;
                color: $purple;
            }
        }
        @include media('<=phone') {
            display: none;
        }
    }
    #right {
        display: none;
        @include media('<=phone') {
            display: block;
        }
        a {
            cursor: pointer;
            text-decoration: none;
            color: $purple;
        }
    }
}
