.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    .left {
        svg {
        }
    }
    .middle {
        margin-left: 50px;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            a {
                margin: 0 2rem;
            }
        }
    }
    .right {
        a {
            text-decoration: none;
            color: $blue;
        }
    }
    a {
        position: relative;
        text-decoration: none;
        color: grey;
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            margin-top: 5px;
            right: 0;
            background: black;
            transition: 0.4s ease;
        }
        &:hover {
            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
}
