.vectors-bg {
    z-index: -10;

    position: relative;

    #vector1 {
        position: absolute;
        top: -100px;
        left: -40%;
        width: 100%;
        z-index: -1;

        @include media('<=phone') {
            width: 200px;
            left: -10px;
            top: -150px;
        }
    }

    #vector2 {
        position: absolute;
        top: 0;
        right: 0;
        width: 1005;
        z-index: -1;

        @include media('<=desktop') {
            right: 0%;
            top: -100px;
        }
        @include media('<=phone') {
            width: 200px;
            display: none;
        }
    }
}
