@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Raleway:wght@100;200;300;400;500;600&display=swap');
@import './variables.scss';
@import './components/navbar.scss';
@import './components/banner.scss';
@import './components/vectorbg.scss';

html {
    body {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        font-family: 'Raleway', sans-serif;
    }
}
