$blue: #636c7d;
$yellow: #fff3d8;

@mixin gradient($color1, $color2) {
    background: -webkit-linear-gradient($color1, $color2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin justify($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
