$blue: #636c7d;
$green: #7a8377;
$yellow: #fff3d8;
$purple: #515070;
$pink: #f7f3f0;

@mixin gradient($color1, $color2) {
    background: -webkit-linear-gradient($color1, $color2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin justify($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
